.contact {
    margin: 0.5rem 0 1rem;
}

.contact div h4 {
    margin: 1rem 0;
}

.contact table {
    color: var(--color-common-white);
    font-weight: 600;
}

.contact table td {
    padding-bottom: 1rem;
}

.contact table tr td:first-child {
    width: 10rem;
}