:root {
  --background-main: #000000;

  --color-primary: #706DFF;
  --color-secondary: #FFEA2A;

  --color-common-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  color: var(--color-common-white);
}

body {
  background-color: var(--background-main);
}

p {
  color: var(--color-common-white);
}

input {
  font-family: var(--source-font);
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}