.help {
    margin: 0.5rem 0 1rem;
}

.commands {
    margin-top: 2rem;
}

.commands h4 {
    margin: 1rem 0;
}

.commands table {
    color: var(--color-common-white);
    font-weight: 600;
}

.commands table td {
    padding-bottom: 1rem;
}

.commands table tr td:first-child {
    width: 10rem;
}